body{
    font-family: 'Neucha', cursive;
    font-size: x-large;
}
h1{
    padding-top: 50px;
    text-align: center;
    font-weight: 1000;
}
h3{
    font-weight: 900;
}
.form-control{
    padding: 20px 20px 20px 20px;
    margin: 30px;
}
.pizza-order{
    padding-left: 0px;
    border-right: 2px;
    outline: auto rgb(49, 49, 49);
    outline-width: 1px;

}
.form-group{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
button{
   align-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
.location{
    display: none;
    font-size: medium;
}
.home{
    background-image: url(../images/pranjall-kumar-oYkC51pOQBk-unsplash.jpg);
    text-align: center;
    font-weight: 1000;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 250px;
    padding-left: 50px;
    background-repeat: no-repeat;
    color: rgb(196, 191, 177);
    object-fit: contain;
}
.container-fluid{
    width: 600px;
    background-image: url(../images/kai-pilger-tL92LY152Sk-unsplash.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-right: 60px;
}
.menu{
    text-align: center;
}
.row img{
    width: 400px;
    padding-bottom: 40px;
}
.delivery{
    color: white;
    text-align: center;
}
.customer-name{
    margin-top: 30px;
}
.name{
    font-size: medium;
    color: white;
}
.on-menu{
    width: 50px;
}
.contact-info{
    text-align: center;
}