body{
    font-family: 'Neucha', cursive;
    font-size: x-large;
}
h1{
    text-align: center;
}
.form-control{
    padding: 20px 20px 20px 20px;
    margin: 30px;
}
.pizza-order{
    padding-left: 0px;
    border-right: 2px;
    outline: auto rgb(49, 49, 49);
    outline-width: 1px;

}
.form-group{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
button{
   align-content: center;
}
.location{
    display: none;
}
.home{
    background-image: url(../images/jakob-cotton-jniSTizOp40-unsplash.jpg);
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 300px;
    padding-left: 50px;
    background-repeat: no-repeat;
    color: aliceblue;
    object-fit: contain;
}

